.h1{
    box-shadow: 10px 8px 10px grey;
    text-transform: uppercase;
    display: block;
    font-family: sans-serif;
    text-align: center;

}

.add-cart{
    background-color: darkcyan;
    color: white;
    border: none;
    height: 36px;
    margin: auto;
    cursor: pointer;
    width: 110px;
    font-style:italic;
    transition: opacity 0.15s;
}

.add-cart:hover{
    background-color:darksalmon;
    transition:backgroung colour 0.15s;
}

.add-cart:active{
    background-color: darkslateblue;
}

body{
    border: 4px solid black;

}
