body{
  background-color: lightgrey;
  border: 5px solid black;
}

h1{
    color: rgb(15, 54, 54);
    font-family:Arial;
    font-size: x-large;
    text-transform: uppercase;
    padding: 20px;
    margin-top: auto;
    margin-bottom: 5px;
    text-decoration: underline black;
    text-align: center;
  }

.p-1{
  margin-top: auto;
  margin-bottom: 15px;
}

  h2{
    color:#19c0d6;
    font-size: larger;
    font-family: sans-serif;
    font-weight: bold;
    margin-bottom: 15px;
    padding-left: 5px;
    margin-top: auto;
  }

  h3{
    color: mediumaquamarine;
    font-size: larger;
    font-family: Arial;
    font-weight: bold;
  }

  h4{
    color: maroon;
    font-size: small;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
  }
  footer p{
    font-size: medium;
    color:#1c9995;
    font-family:'Times New Roman';
    margin-top: 5px;
  }

  footer p{
    color:cornflowerblue !important;
  }
  .p-2{
    font-size: medium;
    font-weight: lighter;
    margin-bottom: 10px;
  }

.thumb-4{
  margin-bottom: 5px;
  width: 200px;
  height: 90px;
  padding-left: 10px;
  margin-top: 10px;
}
  
  .thumb-2{
    width: 250px;
    margin: 10px;
    background-color: white;
    border: 5px solid #1c9995;
    height: 150px;
  }
  li:first-child{
    font-weight: bold;
  }

  a:link{
    color: orchid;
    text-decoration: none;
  }
  a:hover{
    color: orangered;
    font-weight: bold;
    text-decoration: underline wavy;
  }
a:active{
  background-color: black;
  font-style: italic;
}